<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= APP_TITLE %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- inject:css -->
         <!-- endinject -->
    </head>
    <body>
        <app>loading...</app>
        <!-- inject:js -->
        <!-- endinject -->
        <%= INIT %>
    </body>


</html>